/*
Copyright 2023 Melissa Cabral
Google Classroom JSON Viewer
*/
:root{
    --class-color: #2761E6;
    --title-text-color:  white;
}

.post{
    border: solid 1px #eee;
    padding: 1em ;
    margin:  1em 0 2em;
}
.post-info{
    font-size: 85%;
    border-top:  solid 1px #ccc;
    padding: .2em 0;
    margin: 1em 0 0;
}
input[type=button]{
    margin: 1em 0 0;
}
.submissions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}
.submissions .submissions-heading{
    flex-grow: 1;
    flex-basis: 100%;
   
}
.submission{
    box-sizing: border-box;
    border: solid 1px #eee;
    width: 49%;
    padding: 1em;
    min-width: 300px;
}
#view{
    max-width: 1600px;
    width: 95%;
    margin: auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header "
    "sidebar main";
}
#title-container{
    grid-area: header;
    background-color: var(--class-color);
    color: var(--title-text-color);
    padding: 2em 2em .5em;
    margin: 0 0 2em;
    border-radius: 1em;
}
#topics-container{
    grid-area:  sidebar;
}
#posts-container{
    grid-area: main;
}

#topics-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topic{
    cursor: pointer;
}
.disabled{
    cursor: not-allowed;
    color: #ccc;
}
.button{
    color: var(--class-color);
}
.current{
    position: relative;
}
.current:before{
    content: '';
    display: block;
    width: 1em;
    position: absolute;
    top: .2em;
    left: -1.2em;
    height: 1em;
    border-radius: 100%;
    background-color: var(--class-color);
   
}
.hide{
    display: none;
}
.show{
    display: block;
}

/*milligram recolor*/
.button, button, input[type='button'], input[type='reset'], input[type='submit']{
    background-color: var(--class-color);
    color: var(--title-text-color);
    border-color: var(--class-color);
}
.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline{
    color: var(--class-color);
}
a{
    border-bottom: dotted 1px var(--class-color);
    color: black;
   
  
}